<div class="add-item">
	<br><br><br>
	<%= form_for @cart_item do |f| %>
<div class="order-form">
	<h2 class="title">Create Order</h2>

		<div class="product-element">
			<%= f.label :product_id %>
			<%= f.select :product_id, @products, prompt: '' %>
		</div>
		<div class="size-element">
			<%= f.label :size_id %>
			<%= f.select :size_id, @sizes, {prompt: ''} , {disabled: true} %>
		</div>

		<div class="finish-element">
			<%= f.label :finish_id %>
			<%= f.select :finish_id, @finishes, {prompt: ''} , {disabled: true} %>
		</div>

		<div class="quantity-element">
			<%= f.label :quantity_id %>
			<%= f.select :quantity_id, @quantities, {prompt: ''} , {disabled: true} %>
		</div>

			<div class="price-element">
			<%= f.label :price_id %>
			<%= f.text_field :price_id %>
		</div>
</div> 
<br><br><br>
	<% end %>

</div>
<div class="show-item">
	<br><br><br>
	<div class="order-summary">
		<h2 class="title">Order Summary</h2>

		<% if @cart_items.empty? %>
			The cart is empty
		<% else %>
			<ol>
				<% @cart_items.each do |item|	 %>
					<div class="cart-item">
						<li><%= item.quantity_quantity %> <%= item.product_name.pluralize %> ( <%= item.size_size%>, <%= item.finish_finish %> ) <div class="price">$<%= item.price_id %></div>	</li>
						
					</div>
				<% end %>
			</ol>
		<% end %>
	</div>
</div>