<div class="add-item">
	<%= form_for @cart_item do |f| %>
		<% @f=f %>
		<%= f.label :product_id %>
		<%= f.select :product_id, @products, prompt: ''   %>



		
		



	<% end %>	



</div>
<div class="show-item">
	
<% if @cart_items.empty? %>
	
	
the cart is empty

<% else %>

		<% @cart_items.each do |item|	 %>
<div class="cart-item">
		prod<%= item.product_id %> <br>
		size<%= item.size_id %> <br>
		quant<%= item.quantity_id %> <br>
		finsih<%= item.finish_id %> <br>
		price<%= item.price_id %>
	</div>

		<% end %>

<% end %>


</div>