<div class="main-grid">
	<div class="add-item">
		<h2 class="title">Order Form</h2>
		<%= form_for @cart_item do |f| %>
			<div class="order-form">
				<div class="product-element">
					<%= f.label :product_id %> <br>
					<%= f.select :product_id, @products, prompt: '' %>
				</div>

				<div id="standard-elements">
					<div class="size-element">
						<%= f.label :size_id %> <br>
						<%= f.select :size_id, @sizes, {prompt: ''} , {disabled: true} %>
					</div>
					<div class="finish-element">
						<%= f.label :finish_id %> <br>
						<%= f.select :finish_id, @finishes, {prompt: ''} , {disabled: true} %>
					</div>
					<div class="quantity-element">
						<%= f.label :quantity_id %> <br>
						<%= f.select :quantity_id, @quantities, {prompt: ''} , {disabled: true} %>
					</div>
				</div>
				<div id="information-element">
					<%= f.label :information %>
					<%= f.text_area :information,  class: "information-text-area" %>
				</div>
				<div id="price-element"></div>
				<div id="submit-element"></div>
			</div> 
		<% end %>
	</div>
	<br><br><br>
</div>