<div class="add-item">
	<br><br><br>
	<%= form_for @cart_item do |f| %>
<div class="order-form">
	<h2 class="title">Create Order</h2>

		<div class="product-element">
			<%= f.label :product_id %>
			<%= f.select :product_id, @products, prompt: '' %>
		</div>
		<div class="size-element">
			<%= f.label :size_id %>
			<%= f.select :size_id, @sizes, {prompt: ''} , {disabled: true} %>
		</div>

		<div class="finish-element">
			<%= f.label :finish_id %>
			<%= f.select :finish_id, @finishes, {prompt: ''} , {disabled: true} %>
		</div>

		<div class="quantity-element">
			<%= f.label :quantity_id %>
			<%= f.select :quantity_id, @quantities, {prompt: ''} , {disabled: true} %>
		</div>

			<div class="price-element">
			<%= f.label :price_id %>
			<%= f.text_field :price_id %>
		</div>
</div> 
<br><br><br>


	<% end %>

</div>
<div class="show-item">
	
<% if @cart_items.empty? %>
	
	
the cart is empty

<% else %>

		<% @cart_items.each do |item|	 %>
<div class="cart-item">
		prod<%= item.product_id %> <br>
		size<%= item.size_id %> <br>
		quant<%= item.quantity_id %> <br>
		finsih<%= item.finish_id %> <br>
		price<%= item.price_id %>
	</div>

		<% end %>

<% end %>


</div>