<h1>prices list</h1>
<table>
	<% @products.each do |product| %>
		<% product.sizes.each do |size| %>
			<% product.finishes.each do |finish|%>
			<% product.quantities.each do |quantity| %>
				<tr>
					<td><%= product.name %></td> 
					<td><%= size.size %></td>
					<td><%= finish.finish %></td>
					<td><%= quantity.quantity %></td>
					<td id="price-cell">
						<% if product.has_price?(size, finish, quantity) %>
							<% price = product.get_price(size, finish, quantity) %>
							$<%= price.price %> <%=  %>
						<% else %>
							<%= render "form", :locals => { product: product, size: size, finish: finish, quantity: quantity } %>
						<% end %>
					</td>
				</tr>
			<% end %>
		<% end %>
	<% end %>
<% end %>
</table>


fa_icon("pencil-square-o")