<h1>prices list</h1>
<table>
	<% @products.each do |product| %>
		<% product.sizes.each do |size| %>
			<% product.finishes.each do |finish|%>
			<% product.quantities.each do |quantity| %>
				<tr>
				<td><%= product.name %> (<%= product.id %>)</td> 
				<td><%= size.size %> (<%= size.id %>)</td>
				<td><%= finish.finish %>(<%= finish.id %>)</td>
				<td><%= quantity.quantity %>(<%= quantity.id %>)</td>
				<td>
					<% if product.has_price?(size, finish, quantity) %>
						$<%= product.price(size, finish, quantity) %>
					<% else %>
						<%= form_for @price do |f| %>
						<%= f.hidden_field :product_id, :value => product.id %>
						<%= f.hidden_field :size_id, :value => size.id %>
						<%= f.hidden_field :finish_id, :value => finish.id %>
						<%= f.hidden_field :quantity_id, :value => quantity.id %>
						<%= f.text_field :price %>
						<%= f.submit "Add Price" %>
						<% end %>
					<% end %>
				</td>

				</tr>
			<% end %>
		<% end %>
	<% end %>
<% end %>
</table>


