<%= nested_form_for @product do |f| %>
  <% if @product.errors.any? %>
   <div class="error_messages">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="product-name-type blue-test">
    <%= f.label :name, "Product Name" %><br />
    <%= f.text_field :name %>
  <%= f.select :custom, [["", nil], ['Special', true], ['Standard', false]] %>
  </div>

  <div id="product-attributes">
      <div class="product-attribute">
        Sizes <br> <br>
        <%= f.fields_for :sizes do |size_field| %>
          <%= size_field.text_field :size, class: "size" %>
          <%= size_field.link_to_remove fa_icon("times") %> 
        <% end %>
        <%= f.link_to_add fa_icon("plus"), :sizes %>
      </div>

      <div class="product-attribute">
        Finishes <br> <br>
        <%= f.fields_for :finishes do |finish_field| %>
          <%= finish_field.text_field :finish, class: "finish" %>
          <%= finish_field.link_to_remove fa_icon("times") %>
        <% end %>
        <%= f.link_to_add fa_icon("plus"), :finishes %>
      </div>


      <div class="product-attribute">
        Quantities <br> <br>
        <%= f.fields_for :quantities do |quantity_field| %>
          <%= quantity_field.text_field :quantity, class: "quantity" %>
          <%= quantity_field.link_to_remove fa_icon("times") %>
        <% end %>
        <%= f.link_to_add fa_icon("plus"), :quantities %>
      </div>

</div>
  <div class="product-submit">
    <%= f.submit "Submit", class: "product-button" %>
  </div>
<% end %>

