<!DOCTYPE html>
<html>
<head>
  <title>Printshop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag :modernizr %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans|Ubuntu' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if current_page?(root_url) %>
<div class="full-row header">
	<div class="main-grid">
	<header>
		<%= image_tag "logo.png", class: "logo" %>
			
	</header>		
	</div>
</div>
<% end %>
<div class="full-row black">
	<div class="main-grid">
		<div class="tag-line">
		</div>

		<% if current_user && current_user.owner  %>
			<%= render 'shared/owner_nav' %>
		<% else %>
			<%= render 'shared/normal_nav' %>
		<% end %>
	
	</div>
</div>

	<%= yield %>
</body>
</html>
